@import '../utilities.scss';


.logo{
    width: 250px;
}

.text-table{
    font-size: 0.8rem;
}


.container{



    .navbar{
        background-color: #0b0b1d;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        img{
            width: 170px;
            margin-left: 20px;
        }
        h1{
            color: white;
        }

        nav{
            margin-right: 20px;
            text-align: center;
            ul{
                text-align: center;
            }
        }


       
    }


    .reports{
        
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .date{
            
            width: 50%;
            text-align: center;
            margin: 20px 0;
        }


        .charts{
            width: 100%;
            height: 100vh;
            margin-top: 20px;
            border: 1px solid black;
            display: flex;
            flex-flow: row wrap;

            div{
                width: 50%;
                height: 90%;
                border: 1px solid black;
            }
        }

        .filtered{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 50px;
            .car-stock{
                font-size: 20px;
                
            }
            p{
                margin: 0;
            }
        }
    }

    

    .table_report{
        background-color: rgba(235, 235, 235, 0.742);
        width: 100%;
        
    }



    .separator{
        width: 60%;
        height: 5px;
        background-color: black;
        background-color: rgb(6, 6, 74);
        margin-bottom: 20px;
    }

}


.iconHeader{
    color: white;
    font-size: 36px;
    transition: all 300ms;
    &:hover{
        color: darkgreen;
    }
}

.iconActive{
    
        color: darkgreen !important;
    
}





//HEADER REPORT


.report{
    
    width: 80%;
    .headerReport{
        background-color: rgba(235, 235, 235, 0.742);
        //background-color: rgb(6, 6, 74);
        width: 100%;
        color: #06064a;
        text-align: center;
        padding: 0 0 8px 0;


        .headerButtons{
            
            
            .btn{
               font-size: 46px;
                transition: all 400ms;
                cursor: pointer;
               &:hover{
                transform: scale(1.6);
               }
            }
        }
        

        img{
            width: 120px;
        }

        h4{
            span{
                font-size: 26px;
                text-decoration: underline;
                ;
            }
        }

        h5{
            font-size: 16px;
            span{
                font-style: italic;
            }
        }
    }

}

th{
    padding: 20px;
}