@import '../utilities.scss';


.logo{
    width: 250px;
}

.text-table{
    font-size: 0.8rem;
}


.container{

    background-color: rgb(251, 251, 251);

    .navbar{
        background-color: #07101d;
        //box-shadow: 0px 0px 15px rgb(7, 172, 26);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        img{
            width: 170px;
            margin-left: 20px;
        }
        h1{
            color: white;
        }

        nav{
            margin-right: 20px;
            text-align: center;
            ul{
                text-align: center;
            }
        }


       
    }


    .reports{
        display: flex;
        flex-direction: column;
        align-items: center;

        .date{
            
            width: 100%;
            text-align: center;
            margin: 20px 0;

            .ant-picker{
                margin-right: 150px;
            }

            .car-stock{
                font-size: 35px;
                margin-right: 5px;
                color: #07101d;
                transition: all 300ms;

                &:hover{
                    color: #032a60;
                }
                            
            }

            .car-stock-active{
                color: #044ca3 !important;
            }


            

            p, h2{
                margin: 0;
                color: #186cd1;
            }
        }

        h1{
            color: rgb(244, 244, 244);
        }



        .charts{
            
            width: 100%;
            height: 800px;
            border: 2px solid #186bd1c4;
            display: flex;
            position: relative;
            background-color: #07101d;
            border-radius: 5px;
            padding: 10px;
            justify-content: center;
            .chart-center{
                position: absolute;
                height: 600px;
                width: 600px;
                border-radius: 100%;
                border: 2px solid #186cd1;
                ;
                bottom: 100px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 999;
                background-color: #07101d;
                
                padding: 100px;
            }

            div{
                
                flex: 1;
                
            }

            .chart-seccion{
                display: flex;
                height: 100%;
                
                flex-direction: column;
                
                .chart-item{
                    
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .rigth{
                    padding-right: 80px;
                }
                .left{
                    padding-left: 90px;
                }
                .text-end{
                    text-align: end;
                }

                .text-start{
                    text-align: start;
                }

                .kpi{
                    h3{
                        color: white;
                    }
                }

                .hola{
                    width: 100%;
                }
               

            }

            .borderBottom{
                border-bottom: 2px solid #186cd1;
                
            }
            .ml-5{
                margin-left: 35px;
            }
            .mr-5{
                margin-right: 15px;
            }

            .active{
                color: #0a7ffb;
                font-weight: bold;
            }
            .inactive{
                color: rgb(255,140,0);
                font-weight: bold;
            }
            .stock{
                color: rgb(149,150,154);
                font-weight: bold;
            }


        }

        
        

       
    }

    

    .table_report{
        background-color: #07101d;
        width: 100%;
        padding: 20px;
        border-bottom: 2px solid #186cd1;
        border-left: 2px solid #186cd1;
        border-right: 2px solid #186cd1;
    }

    .separator{
        width: 60%;
        height: 5px;
        
        
        margin-bottom: 20px;
    }

}


.iconHeader{
    color: white;
    font-size: 36px;
    transition: all 300ms;
    &:hover{
        color: #044ca3;
    }
}

.iconActive{
        color: darkgreen !important;
    
}





//HEADER REPORT


.report{
    
    width: 100%;
    .headerReport{
        background-color: #07101d;
        border-bottom: 2px solid #186cd1;
        border-top  : 2px solid #186cd1;
        border-left: 2px solid #186cd1;
        border-right: 2px solid #186cd1;
        width: 100%;
        text-align: center;
        padding: 0 0 8px 0;

        h4, h5, .css-18i7bby,.css-18i7bb, .ant-modal-close-x,.ant-modal-footer, caption{
            color: rgb(189, 184, 184) !important;
            text-align: center;
        }


        .headerButtons{
            
            color: whitesmoke;
            
            .btn{
               font-size: 46px;
                transition: all 400ms;
                cursor: pointer;
               &:hover{
                transform: scale(1.6);
               }
            }
        }
        

        img{
            width: 120px;
        }

        h4{
            span{
                font-size: 26px;
                text-decoration: underline;
                ;
            }
        }

        h5{
            font-size: 16px;
            span{
                font-style: italic;
            }
        }
    }

}

th{
    padding: 20px;
}




//RESPOSIVE
@media (max-width: 1000px) {
    .container{
        .reports{
            width: 100%;

            .charts{
                .chart-center{
                    height: 450px !important;
                    width: 450px !important;
                    bottom: 200px !important;
                }
                .chart-seccion{
                    .rigth{
                        padding-right: 25px !important;
                    }
                }
            }
        }
    }
}


@media (max-width: 1499px) {
    .container{
        .reports{
            width: 100%;
            .charts{
                .chart-center{
                    height: 550px;
                    width: 550px;
                    bottom: 125px;
                }
                .chart-seccion{
                    .rigth{
                        padding-right: 55px;
                    }
                    .left{
                        padding-left: 55px;
                    }
                }
            }

            
            
        }
    }
}


@media (min-width: 1500px) {
    .container{
        .reports{
            width: 1500px;

            .charts{
                .chart-seccion{
                    .rigth{
                        padding-right: 55px;
                    }
                    .left{
                        padding-left: 55px;
                    }
                }
            }

        }
    }
}