@import '../utilities.scss';


.logo{
    width: 250px;
}

.text-table{
    font-size: 0.8rem;
}


.container{

    .navbar{
        background-color: #0b0b1d;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        img{
            width: 160px;
            margin-left: 20px;
        }

        nav{
            margin-right: 20px;
            text-align: center;
            ul{
                
                text-align: center;
                
                

            }
        }


        .iconHeader{
            color: white;
            font-size: 36px;
        }
    }

    

    .table_report{
        background-color: rgba(235, 235, 235, 0.742);
        
    }



    .separator{
        width: 60%;
        height: 5px;
        background-color: black;
        background-color: rgb(6, 6, 74);
        margin-bottom: 20px;
    }

}



//HEADER REPORT


.report{
    border: 1px solid black;
    width: 80%;
    .headerReport{
        background-color: rgba(235, 235, 235, 0.742);
        //background-color: rgb(6, 6, 74);
        width: 100%;
        color: #06064a;
        text-align: center;
        padding: 0 0 8px 0;
        

        img{
            width: 120px;
        }

        h4{
            span{
                font-size: 26px;
                text-decoration: underline;
                ;
            }
        }

        h5{
            font-size: 16px;
            span{
                font-style: italic;
            }
        }
    }
    
}