@import url("https://fonts.googleapis.com/css2?family=Faster+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

//UTILITIES
@import './utilities.scss';

//VIEWS
@import './Views/main.scss';
@import './Views/reports.scss';
@import './Views/load.scss';


body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold;
}

.container{
    min-height: 100vh;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    flex-direction: column;
    
}



