@import url("https://fonts.googleapis.com/css2?family=Faster+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

//UTILITIES
@import './utilities.scss';

//VIEWS
@import './Views/main.scss';
@import './Views/reports.scss';
@import './Views/load.scss';


body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: bold;
}

.container{
    min-height: 100vh;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
 
    
}

//DRAWER
.drawer{
    text-align: center;
    color: white;
    .ant-drawer-wrapper-body, .ant-drawer-header {
        background-color: $stop !important;
    }
    .ant-drawer-title{
        color: white;
    }

    a{
        color: white !important;
    }
}

//Modal
.modal{

    h4, h5, .css-18i7bby, .ant-modal-close-x{
        color: white;
        text-align: center;
    }
    .ant-modal-content{
        background-color: #07101d !important;
        height: auto;
        min-width: 1250px;
    }
    .ant-modal-header, .ant-modal-footer{
        background-color: $stop !important;
        border-bottom: 2px solid #186cd1;
        border-top: none;
    }
    .ant-modal-body{
        
        height: 100%;
        color: white;
    }
    .ant-modal-title{
        color: whitesmoke;
        text-align: center;
    }
}

.css-18i7bby{
    color: white;
}




