$border : 1px solid black;
$skytel: #0b0b1d;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");


$stop : #07101d;
//background-color: #0d1117;

//FLEX

.flex-center{

    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-space{

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.align-end{
    align-items: flex-end;
}


.flex-center-column{

    display: flex;
    
    align-items: center;
    flex-direction: column;
    width: 90%;
    
}

//WIDTHS

.w-90{
 width: 90%;
}

.css-xumdn4{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px !important;
    color: rgb(145, 145, 174);
}


//TEXT
.text-center{
    text-align: center !important;
}

.css-xumdn4, .css-1zts0j{
    text-align: center !important;
}


//MARGIN
.mt-1 {
    margin-top: 0.5rem !important;
}
.mt-5 {
    margin-top: 1.5rem !important;
}

.mt-6{
    margin-top: 2.5rem;
}

.ant-picker-date-panel .ant-picker-body{
    padding: 8px 0px !important;
}

.tableHeader{
    font-size: 16px !important;
    color: whitesmoke;
    
}
.tdTable{
    
    font-size: 11px !important;
    color: rgb(194, 191, 191);

   }

tr{
    transition: ease-in-out 200ms;
    
    &:hover{
        background-color: rgba(24, 108, 209, 0.3);
        
    }
}
td.css-0{
    padding: 13px 10px;
}



